* {/*aqui zera a margem da página e modifica a maneira de exibir o tamanho de uma caixa*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
    background-color: #272b28;
}
header {/*aqui coloca a caixa*/ 
    background-image: url(imagemFundoTransparente.png);
    background-size: 1481px 800px;
}
.navegarbarra {/*display flex separa a logo dos textos, justify content separa os textos e o padding define o tamanho do caixa em altura e a distancia dos textos da borda respectivamente*/
    display: flex;
    justify-content: space-between;
    padding: 49px 50px;
}
.navegarlista ul {/*deixa os textos da lista arrumados e no centro e sem o estilo de lista*/
    display: flex;
    justify-content: center;
    list-style: none;
}
.navegarlista a {/*dita a distâcia entre os textos*/
    margin: 15px;
}
.paginaInicial {/*ajustar a imagem*/
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
}
.texto1{/*ajustar o texto1 em cima da imagem*/
    position: absolute;
    top: 80px;
    left: 240px;
    font-size: 60px;
    color: white;
}
.texto2{/*ajustar o texto2 em cima da imagem*/
    position: absolute;
    top: 150px;
    left: 340px;
    font-size: 60px;
    color: white;
}
.texto3{/*ajustar o texto3 em cima da imagem*/
    position: absolute;
    top: 230px;
    left: 30px;
    font-size: 45px;
    color: white;
}
.botaoComoUsar {/*posição botão como usar?*/
    position: absolute;
    top: 500px;
    left: 268px;
}
.botaoFazerPesquisa {/*posição botão fazer pesquisa*/
    position: absolute;
    top: 500px;
    left: 840px;
}
button {/*estilo botões*/
    border: none;
    border-radius: 10px;
    width: 350px;
    height: 60px;
    background-color: #272b28;
    color: white;
    cursor: pointer;
}
button:hover {/*mudar a cor quando passar o mouse*/
    background-color: #353b37;
}