* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
    background-color: #0c0d0c;
}
.caixa-login input {
    width: 90%;
    height: 45px;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 5%;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    display: block;
    background-color: #1d1f1d65;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}
.caixa-login button {
    width: 25%;
    height: 35px;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 5%;
    background-color: #1d1f1d65;
    color: white;
    text-align: left;
    padding-left: 10px;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 15px;
    transition: background-color 0.3s ease;
}
.caixa-login button:hover {
    background-color: #13141365;
}
.caixa-login label {
    position: absolute;
    margin-top: -3%;
    margin-left: 1.8%;
    transition: font 0.3s ease, margin-top 0.3s ease;
}
.caixa-login input:focus + label, .caixa-login input:not(:placeholder-shown) + label {
    margin-top: -3.5%;
    font-size: 10px;
}
.caixa-login {
    margin: auto;
    margin-top: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #1b283873;
    color: white;
    border: 10px ridge #42495277;
    width: 25%;
}
#back {
    margin-left: 1.8%;
    width: 10%;
}